.loading__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f3f3f3;
}

.horse {
  display: flex;
  gap: 5px;
}

.horse img {
  width: 120px;
  height: auto;
  animation: run 1s infinite linear;
}

.horse img:nth-child(2) {
  animation-delay: 0.2s;
}
.horse img:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes run {
  0% {
    transform: translateX(0);
    opacity: 0.5;
  }
  50% {
    transform: translateX(10px);
    opacity: 1;
  }
  100% {
    transform: translateX(20px);
    opacity: 0.5;
  }
}
